wandb==0.10.12
setuptools
python-dateutil
pytz
numexpr
Bottleneck
scikit-learn
h5py
scikit-multilearn
scipy
matplotlib
python-decouple
pandas
numpy
pathlib
opencv-python
tensorflow
icrawler
Google-Images-Search
xlrd==1.2.0